streamlit==1.43.2
torch==2.2.0
torchvision==0.17.0
opencv-python-headless==4.11.0.86
numpy==2.2.4
Pillow==11.1.0
pyyaml==6.0.2
matplotlib==3.10.1
pandas==2.2.3
ultralytics==8.0.203
thop==0.1.1.post2209072238
